.big_wrapper_1 {
  background: #87CEF8;
  padding: 50px;
}

.big_wrapper_2 {
  background: #fff;
  padding: 50px;
}

.big_wrapper_3 {
  background: #87CEF8;
  padding: 50px;
}

.big_wrapper_4 {
  background: #fff;
  padding: 50px;
}


.big_wrapper .wrapper {
  padding: 35px 0;
}

.point_copy {
  width: 440px;
  h3 {
    margin: 30px 0 30px 0;
  }
}

h3 {
  font-size: 42px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  color: #292929;
  line-height: 1.3;
}

.point_copy p, #other_points li p {
    line-height: 1.5;
}

#one {
  height: 520px;
  width: 936px;
}

#two {
  height: 520px;
}

#three {
  height: 520px;
}

#four {
  height: 520px;
}

.right {
  margin-left: 500px;
}
