<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Can I pay by credit card without Amazon payments?</summary>
          <p>Currently we only support Amazon payments. You can use your existing Amazon account and making one is well worth it. Amazon is really good.</a>.
        </details>
      </li>
      <li>
        <details class=''>
          <summary>When will I receive my wheel?</summary>
          <p>To ensure you will recieve the best wheel ever, we need to test the wheel many times before we can release it to you. You will recieve it.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Who is your manufacturing company?</summary>
          <p>We can not tell you that at this stage. It is a secret ;)</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Will I recieve a copy of the research if I purchase the wheels?</summary>
          <p>Yes. All backers will recieve a perfect bound copy of the research. Wheel purchases will recieve the wheels. Buyers of more than one wheel will recieve a signed autograph of Ned Kelly himself.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Can I fund my own projects like this?</summary>
          <p>Yes search us on git, or get the original from lockitron.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Why is the wheel so expensive?</summary>
          <p>You will be receiving a genetically optimised wheel frame made with the highest quality composites constructed using blabla methods. For those going deluxe, you can get a custom paint job too.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Insert more marketing "FAQS"</summary>
          <p></p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Insert more marketing FAQS</summary>
          <p></p>
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
