<div class="big_wrapper_1">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3 class="font_white">
        The best wheel ever, really?
      </h3>
      <p class="font_white">
        Insert the best intro ever ever written about wheels</a>.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper_2">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        What do I get from it?
      </h3>
      <p>
        You get to be part of a dream becoming real. A highly designed wheel becoming reality. You can fund a small amount to benefit research in areas of FEA and composites. You can purchase a set of wheels if you a cycling fanatic like us. We promise you that there is nothing like this. Not convincing enough imo. Needs way more work.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper_3">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3 class="font_white">
        How does it work?
      </h3>
      <p class="font_white">
        You can help us do more research on new and coming composite materials. This work is a combination of research on composites and computer generated simulations. Backing even a small amount will help. Purchasing a wheel will mean you will not only help further research in this field, but you will have the chance to be the first to glide along arguably the most advance bicycle wheel ever made so far.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper_4">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        How is it different to other premium wheels?
      </h3>
      <p>
        INSERT AWESOME MARKETING.
      <p>
    </div>
  </div>
</div>
